{
  "presets": ["next/babel"],
  "plugins": [
    ["graphql-tag"],
    ["module-resolver", {
      "alias": {
        "@/common": "./src/components/common",
        "@/ui": "./src/components/ui",
        "@/partials": "./src/components/partials",
        "@/layout": "./src/components/layout",
        "@": "./src"
      }
    }]
  ]
}
