{
  "presets": ["next/babel"],
  "plugins": [
    "transform-flow-strip-types",
    [
      "graphql-tag"
    ],
    [
      "module-resolver",
      {
        "alias": {
          "@": "./components"
        }
      }
    ]
  ]
}